# üêº Pandas Part 1 - Complete Beginner Part

## üéØ Learning Objectives

By the end of this notebook, you will:
- ‚úÖ Understand what pandas is and why it's essential
- ‚úÖ Work with Series (1D data structures)
- ‚úÖ Work with DataFrames (2D data structures)
- ‚úÖ Read data from CSV and Excel files
- ‚úÖ Inspect data with head(), info(), describe()
- ‚úÖ Select specific columns from DataFrames
- ‚úÖ Filter rows based on conditions
- ‚úÖ Sort data by columns

---

## üö® Why Pandas Matters

Pandas is **THE** most important library for data analysis in Python.

**With pandas, you can:**
- üìä **Load data** from CSV, Excel, databases, APIs
- üîç **Explore data** quickly and efficiently
- üßπ **Clean data** by handling missing values, duplicates
- üîÑ **Transform data** with filters, sorting, grouping
- üìà **Analyze data** to extract insights
- üíæ **Export data** to various formats

** As 90% of data analytics work can be done using pandas!**

In [2]:
# ============================================
# SETUP: Import Libraries
# ============================================

# Import pandas (conventionally imported as 'pd')
import pandas as pd
import numpy as np

# Check pandas version
print(f'‚úÖ Pandas version: {pd.__version__}')
print(f'‚úÖ NumPy version: {np.__version__}')

# Display settings for better output
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)

‚úÖ Pandas version: 2.2.2
‚úÖ NumPy version: 2.0.2

In [ ]:
# ============================================
# PART 1: PANDAS SERIES
# ============================================

# What is a Series?
# -----------------
# A Series is a ONE-DIMENSIONAL array-like object
# Think of it as a single column in Excel
#
# Key characteristics:
# - Has an index (like row numbers)
# - Can hold any data type (integers, strings, floats, etc.)
# - Similar to a Python list, but with superpowers!

## 1. Creating Series

Different ways to create a pandas Series.

In [3]:
print('=' * 60)
print('CREATING SERIES')
print('=' * 60)

# Method 1: From a list
prices = pd.Series([29.99, 49.99, 19.99, 99.99, 39.99])
print('\nüìä Series from list:')
print(prices)

# Method 2: From a list with custom index
products = pd.Series(
    [29.99, 49.99, 19.99, 99.99, 39.99],
    index=['Shirt', 'Jeans', 'Socks', 'Jacket', 'Hat']
)
print('\nüìä Series with custom index:')
print(products)

# Method 3: From a dictionary
sales_dict = {'Jan': 1000, 'Feb': 1200, 'Mar': 1500, 'Apr': 1300}
monthly_sales = pd.Series(sales_dict)
print('\nüìä Series from dictionary:')
print(monthly_sales)

============================================================
CREATING SERIES
============================================================

üìä Series from list:
0    29.99
1    49.99
2    19.99
3    99.99
4    39.99
dtype: float64

üìä Series with custom index:
Shirt     29.99
Jeans     49.99
Socks     19.99
Jacket    99.99
Hat       39.99
dtype: float64

üìä Series from dictionary:
Jan    1000
Feb    1200
Mar    1500
Apr    1300
dtype: int64

## 2. Accessing Series Data

Different ways to access elements in a Series.

In [4]:
print('=' * 60)
print('ACCESSING SERIES DATA')
print('=' * 60)

# Using products Series from above
print('\nüìä Original Series:')
print(products)

# Access by position (like a list)
print(f'\nFirst item (by position): ${products[0]}')
print(f'Last item (by position): ${products[-1]}')

# Access by index label
print(f'\nShirt price (by label): ${products["Shirt"]}')
print(f'Jacket price (by label): ${products["Jacket"]}')

# Access multiple items (slicing)
print('\nFirst 3 items:')
print(products[:3])

print('\nSpecific items by labels:')
print(products[['Shirt', 'Jeans', 'Socks']])

============================================================
ACCESSING SERIES DATA
============================================================

üìä Original Series:
Shirt     29.99
Jeans     49.99
Socks     19.99
Jacket    99.99
Hat       39.99
dtype: float64

First item (by position): $29.99
Last item (by position): $39.99

Shirt price (by label): $29.99
Jacket price (by label): $99.99

First 3 items:
Shirt    29.99
Jeans    49.99
Socks    19.99
dtype: float64

Specific items by labels:
Shirt    29.99
Jeans    49.99
Socks    19.99
dtype: float64

/tmp/ipython-input-1602325144.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'\nFirst item (by position): ${products[0]}')
/tmp/ipython-input-1602325144.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'Last item (by position): ${products[-1]}')

## 3. Series Operations

Perform calculations and operations on Series.

In [5]:
print('=' * 60)
print('SERIES OPERATIONS')
print('=' * 60)

# Basic statistics
print('\nüìä Statistics:')
print(f'Sum: ${products.sum():.2f}')
print(f'Mean: ${products.mean():.2f}')
print(f'Median: ${products.median():.2f}')
print(f'Min: ${products.min():.2f}')
print(f'Max: ${products.max():.2f}')
print(f'Std Dev: ${products.std():.2f}')

# Arithmetic operations (vectorized!)
print('\nüìä Prices with 20% discount:')
discounted = products * 0.8
print(discounted)

# Boolean filtering
print('\nüìä Products over $30:')
expensive = products[products > 30]
print(expensive)

============================================================
SERIES OPERATIONS
============================================================

üìä Statistics:
Sum: $239.95
Mean: $47.99
Median: $39.99
Min: $19.99
Max: $99.99
Std Dev: $31.14

üìä Prices with 20% discount:
Shirt     23.992
Jeans     39.992
Socks     15.992
Jacket    79.992
Hat       31.992
dtype: float64

üìä Products over $30:
Jeans     49.99
Jacket    99.99
Hat       39.99
dtype: float64

In [ ]:
# ============================================
# PART 2: PANDAS DATAFRAMES
# ============================================

# What is a DataFrame?
# --------------------
# A DataFrame is a TWO-DIMENSIONAL data structure
# Think of it as an Excel spreadsheet or SQL table
#
# Key characteristics:
# - Has rows and columns
# - Each column is a Series
# - Columns can have different data types
# - Most commonly used pandas object

## 4. Creating DataFrames

Different ways to create a pandas DataFrame.

In [6]:
print('=' * 60)
print('CREATING DATAFRAMES')
print('=' * 60)

# Method 1: From a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Berlin'],
    'Salary': [70000, 80000, 75000, 90000, 85000]
}

df = pd.DataFrame(data)
print('\nüìä DataFrame from dictionary:')
print(df)

# Method 2: From a list of dictionaries
employees = [
    {'Name': 'John', 'Age': 28, 'Department': 'IT'},
    {'Name': 'Sarah', 'Age': 32, 'Department': 'HR'},
    {'Name': 'Mike', 'Age': 35, 'Department': 'Sales'}
]

df2 = pd.DataFrame(employees)
print('\nüìä DataFrame from list of dictionaries:')
print(df2)

============================================================
CREATING DATAFRAMES
============================================================

üìä DataFrame from dictionary:
      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30    London   80000
2  Charlie   35     Paris   75000
3    Diana   28     Tokyo   90000
4      Eve   32    Berlin   85000

üìä DataFrame from list of dictionaries:
    Name  Age Department
0   John   28         IT
1  Sarah   32         HR
2   Mike   35      Sales

In [7]:
# Create a larger sample dataset for demonstrations
np.random.seed(42)

sample_data = {
    'employee_id': range(1, 51),
    'name': [f'Employee_{i}' for i in range(1, 51)],
    'age': np.random.randint(22, 60, 50),
    'department': np.random.choice(['Sales', 'IT', 'HR', 'Marketing', 'Finance'], 50),
    'salary': np.random.randint(40000, 120000, 50),
    'experience_years': np.random.randint(1, 20, 50),
    'performance_score': np.random.uniform(3.0, 5.0, 50).round(1)
}

employees_df = pd.DataFrame(sample_data)
print('\nüìä Sample employees dataset created!')
print(f'Shape: {employees_df.shape[0]} rows √ó {employees_df.shape[1]} columns')

üìä Sample employees dataset created!
Shape: 50 rows √ó 7 columns

## 5. Reading CSV Files

The most common way to load data into pandas.

In [8]:
print('=' * 60)
print('READING CSV FILES')
print('=' * 60)

# First, let's save our sample data as CSV
employees_df.to_csv('employees_data.csv', index=False)
print('\n‚úÖ Sample CSV file created: employees_data.csv')

# Read CSV file
df_from_csv = pd.read_csv('employees_data.csv')
print('\nüìä Data loaded from CSV:')
print(df_from_csv.head())

# Common parameters for read_csv()
print('\nüí° Common read_csv() parameters:')
print('  - filepath: "data.csv"')
print('  - sep="," : Delimiter (comma by default)')
print('  - header=0 : Row number to use as column names')
print('  - index_col : Column to use as row labels')
print('  - usecols : List of columns to read')
print('  - nrows : Number of rows to read')

============================================================
READING CSV FILES
============================================================

‚úÖ Sample CSV file created: employees_data.csv

üìä Data loaded from CSV:
   employee_id        name  age department  salary  experience_years  \
0            1  Employee_1   50         IT  110592                 9
1            2  Employee_2   36  Marketing   48110                17
2            3  Employee_3   29    Finance  119309                17
3            4  Employee_4   42         IT   67266                12
4            5  Employee_5   40         IT   92992                 7

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6

üí° Common read_csv() parameters:
  - filepath: "data.csv"
  - sep="," : Delimiter (comma by default)
  - header=0 : Row number to use as column names
  - index_col : Column to use as row labels
  - usecols : List of columns to read
  - nrows : Number of rows to read

In [9]:
# Reading CSV with specific parameters
print('\nüìä Reading first 10 rows only:')
df_sample = pd.read_csv('employees_data.csv', nrows=10)
print(df_sample)

# Reading specific columns
print('\nüìä Reading specific columns only:')
df_subset = pd.read_csv('employees_data.csv', usecols=['name', 'department', 'salary'])
print(df_subset.head())

üìä Reading first 10 rows only:
   employee_id         name  age department  salary  experience_years  \
0            1   Employee_1   50         IT  110592                 9
1            2   Employee_2   36  Marketing   48110                17
2            3   Employee_3   29    Finance  119309                17
3            4   Employee_4   42         IT   67266                12
4            5   Employee_5   40         IT   92992                 7
5            6   Employee_6   44  Marketing   46910                 2
6            7   Employee_7   32         IT   40206                 3
7            8   Employee_8   32         IT   63419                17
8            9   Employee_9   45  Marketing   90636                 5
9           10  Employee_10   57  Marketing   90015                17

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6
5                4.1
6                4.1
7                3.5
8                3.2
9                4.8

üìä Reading specific columns only:
         name department  salary
0  Employee_1         IT  110592
1  Employee_2  Marketing   48110
2  Employee_3    Finance  119309
3  Employee_4         IT   67266
4  Employee_5         IT   92992

## 6. Reading Excel Files

Loading data from Excel spreadsheets.

In [10]:
print('=' * 60)
print('READING EXCEL FILES')
print('=' * 60)

# Save as Excel file
employees_df.to_excel('employees_data.xlsx', index=False, sheet_name='Employees')
print('\n‚úÖ Sample Excel file created: employees_data.xlsx')

# Read Excel file
df_from_excel = pd.read_excel('employees_data.xlsx', sheet_name='Employees')
print('\nüìä Data loaded from Excel:')
print(df_from_excel.head())

# Common parameters for read_excel()
print('\nüí° Common read_excel() parameters:')
print('  - filepath: "data.xlsx"')
print('  - sheet_name: Name or index of sheet to read')
print('  - header=0 : Row number for column names')
print('  - usecols : Columns to read')
print('  - nrows : Number of rows to read')

============================================================
READING EXCEL FILES
============================================================

‚úÖ Sample Excel file created: employees_data.xlsx

üìä Data loaded from Excel:
   employee_id        name  age department  salary  experience_years  \
0            1  Employee_1   50         IT  110592                 9
1            2  Employee_2   36  Marketing   48110                17
2            3  Employee_3   29    Finance  119309                17
3            4  Employee_4   42         IT   67266                12
4            5  Employee_5   40         IT   92992                 7

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6

üí° Common read_excel() parameters:
  - filepath: "data.xlsx"
  - sheet_name: Name or index of sheet to read
  - header=0 : Row number for column names
  - usecols : Columns to read
  - nrows : Number of rows to read

## 7. Data Inspection Methods

Essential methods to understand your data.

In [11]:
print('=' * 60)
print('DATA INSPECTION: head()')
print('=' * 60)

# head() - View first N rows (default 5)
print('\nüìä First 5 rows:')
print(employees_df.head())

print('\nüìä First 10 rows:')
print(employees_df.head(10))

# tail() - View last N rows
print('\nüìä Last 5 rows:')
print(employees_df.tail())

============================================================
DATA INSPECTION: head()
============================================================

üìä First 5 rows:
   employee_id        name  age department  salary  experience_years  \
0            1  Employee_1   50         IT  110592                 9
1            2  Employee_2   36  Marketing   48110                17
2            3  Employee_3   29    Finance  119309                17
3            4  Employee_4   42         IT   67266                12
4            5  Employee_5   40         IT   92992                 7

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6

üìä First 10 rows:
   employee_id         name  age department  salary  experience_years  \
0            1   Employee_1   50         IT  110592                 9
1            2   Employee_2   36  Marketing   48110                17
2            3   Employee_3   29    Finance  119309                17
3            4   Employee_4   42         IT   67266                12
4            5   Employee_5   40         IT   92992                 7
5            6   Employee_6   44  Marketing   46910                 2
6            7   Employee_7   32         IT   40206                 3
7            8   Employee_8   32         IT   63419                17
8            9   Employee_9   45  Marketing   90636                 5
9           10  Employee_10   57  Marketing   90015                17

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6
5                4.1
6                4.1
7                3.5
8                3.2
9                4.8

üìä Last 5 rows:
    employee_id         name  age department  salary  experience_years  \
45           46  Employee_46   38    Finance   45530                18
46           47  Employee_47   57         HR   43748                 8
47           48  Employee_48   25  Marketing   53545                 1
48           49  Employee_49   23         HR  106199                11
49           50  Employee_50   27         HR   74766                18

    performance_score
45                3.8
46                4.8
47                4.3
48                4.6
49                4.0

In [12]:
print('=' * 60)
print('DATA INSPECTION: info()')
print('=' * 60)

# info() - Get dataset overview
print('\nüìä Dataset Information:')
employees_df.info()

print('\nüí° What info() shows:')
print('  - Number of rows and columns')
print('  - Column names')
print('  - Data types of each column')
print('  - Non-null counts (helps find missing values)')
print('  - Memory usage')

============================================================
DATA INSPECTION: info()
============================================================

üìä Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        50 non-null     int64
 1   name               50 non-null     object
 2   age                50 non-null     int64
 3   department         50 non-null     object
 4   salary             50 non-null     int64
 5   experience_years   50 non-null     int64
 6   performance_score  50 non-null     float64
dtypes: float64(1), int64(4), object(2)
memory usage: 2.9+ KB

üí° What info() shows:
  - Number of rows and columns
  - Column names
  - Data types of each column
  - Non-null counts (helps find missing values)
  - Memory usage

In [13]:
print('=' * 60)
print('DATA INSPECTION: describe()')
print('=' * 60)

# describe() - Statistical summary
print('\nüìä Statistical Summary:')
print(employees_df.describe())

print('\nüí° What describe() shows:')
print('  - count: Number of non-null values')
print('  - mean: Average value')
print('  - std: Standard deviation')
print('  - min: Minimum value')
print('  - 25%: First quartile')
print('  - 50%: Median')
print('  - 75%: Third quartile')
print('  - max: Maximum value')

============================================================
DATA INSPECTION: describe()
============================================================

üìä Statistical Summary:
       employee_id        age         salary  experience_years  \
count     50.00000  50.000000      50.000000         50.000000
mean      25.50000  38.860000   79136.240000          9.040000
std       14.57738  10.719066   23395.255334          6.239963
min        1.00000  23.000000   40206.000000          1.000000
25%       13.25000  29.250000   61865.250000          3.250000
50%       25.50000  39.500000   82749.000000          7.500000
75%       37.75000  46.000000   97550.750000         16.000000
max       50.00000  59.000000  119309.000000         19.000000

       performance_score
count          50.000000
mean            4.070000
std             0.578968
min             3.000000
25%             3.500000
50%             4.250000
75%             4.575000
max             4.900000

üí° What describe() shows:
  - count: Number of non-null values
  - mean: Average value
  - std: Standard deviation
  - min: Minimum value
  - 25%: First quartile
  - 50%: Median
  - 75%: Third quartile
  - max: Maximum value

In [14]:
# Additional useful inspection methods
print('=' * 60)
print('MORE INSPECTION METHODS')
print('=' * 60)

# Shape
print(f'\nüìê Shape: {employees_df.shape}')
print(f'  Rows: {employees_df.shape[0]}')
print(f'  Columns: {employees_df.shape[1]}')

# Columns
print(f'\nüìã Column names:')
print(employees_df.columns.tolist())

# Data types
print(f'\nüî§ Data types:')
print(employees_df.dtypes)

# Check for missing values
print(f'\n‚ö†Ô∏è  Missing values:')
print(employees_df.isnull().sum())

# Check for duplicates
print(f'\nüîÑ Duplicate rows: {employees_df.duplicated().sum()}')

============================================================
MORE INSPECTION METHODS
============================================================

üìê Shape: (50, 7)
  Rows: 50
  Columns: 7

üìã Column names:
['employee_id', 'name', 'age', 'department', 'salary', 'experience_years', 'performance_score']

üî§ Data types:
employee_id            int64
name                  object
age                    int64
department            object
salary                 int64
experience_years       int64
performance_score    float64
dtype: object

‚ö†Ô∏è  Missing values:
employee_id          0
name                 0
age                  0
department           0
salary               0
experience_years     0
performance_score    0
dtype: int64

üîÑ Duplicate rows: 0

## 8. Selecting Columns

Different ways to select columns from a DataFrame.

In [15]:
print('=' * 60)
print('SELECTING COLUMNS')
print('=' * 60)

# Method 1: Select single column (returns Series)
print('\nüìä Single column (names) - Returns Series:')
names = employees_df['name']
print(type(names))
print(names.head())

# Method 2: Select single column (returns DataFrame)
print('\nüìä Single column (names) - Returns DataFrame:')
names_df = employees_df[['name']]
print(type(names_df))
print(names_df.head())

# Method 3: Select multiple columns
print('\nüìä Multiple columns:')
subset = employees_df[['name', 'department', 'salary']]
print(subset.head())

============================================================
SELECTING COLUMNS
============================================================

üìä Single column (names) - Returns Series:
<class 'pandas.core.series.Series'>
0    Employee_1
1    Employee_2
2    Employee_3
3    Employee_4
4    Employee_5
Name: name, dtype: object

üìä Single column (names) - Returns DataFrame:
<class 'pandas.core.frame.DataFrame'>
         name
0  Employee_1
1  Employee_2
2  Employee_3
3  Employee_4
4  Employee_5

üìä Multiple columns:
         name department  salary
0  Employee_1         IT  110592
1  Employee_2  Marketing   48110
2  Employee_3    Finance  119309
3  Employee_4         IT   67266
4  Employee_5         IT   92992

In [16]:
# Using dot notation (works if column name has no spaces)
print('\nüìä Using dot notation:')
print(employees_df.department.head())

# Selecting columns by data type
print('\nüìä Select only numerical columns:')
numerical_cols = employees_df.select_dtypes(include=['int64', 'float64'])
print(numerical_cols.head())

print('\nüìä Select only object (string) columns:')
string_cols = employees_df.select_dtypes(include=['object'])
print(string_cols.head())

üìä Using dot notation:
0           IT
1    Marketing
2      Finance
3           IT
4           IT
Name: department, dtype: object

üìä Select only numerical columns:
   employee_id  age  salary  experience_years  performance_score
0            1   50  110592                 9                4.8
1            2   36   48110                17                4.8
2            3   29  119309                17                3.5
3            4   42   67266                12                4.3
4            5   40   92992                 7                4.6

üìä Select only object (string) columns:
         name department
0  Employee_1         IT
1  Employee_2  Marketing
2  Employee_3    Finance
3  Employee_4         IT
4  Employee_5         IT

## 9. Filtering Rows with Conditions

Filter data based on conditions (like SQL WHERE clause).

In [17]:
print('=' * 60)
print('FILTERING ROWS - SINGLE CONDITION')
print('=' * 60)

# Filter: Employees with salary > 70000
high_earners = employees_df[employees_df['salary'] > 70000]
print(f'\nüìä Employees earning > $70,000 ({len(high_earners)} found):')
print(high_earners.head())

# Filter: Employees in IT department
it_dept = employees_df[employees_df['department'] == 'IT']
print(f'\nüìä IT Department employees ({len(it_dept)} found):')
print(it_dept.head())

# Filter: Young employees (age <= 30)
young_employees = employees_df[employees_df['age'] <= 30]
print(f'\nüìä Employees aged 30 or younger ({len(young_employees)} found):')
print(young_employees.head())

============================================================
FILTERING ROWS - SINGLE CONDITION
============================================================

üìä Employees earning > $70,000 (29 found):
   employee_id         name  age department  salary  experience_years  \
0            1   Employee_1   50         IT  110592                 9
2            3   Employee_3   29    Finance  119309                17
4            5   Employee_5   40         IT   92992                 7
8            9   Employee_9   45  Marketing   90636                 5
9           10  Employee_10   57  Marketing   90015                17

   performance_score
0                4.8
2                3.5
4                4.6
8                3.2
9                4.8

üìä IT Department employees (10 found):
   employee_id        name  age department  salary  experience_years  \
0            1  Employee_1   50         IT  110592                 9
3            4  Employee_4   42         IT   67266                12
4            5  Employee_5   40         IT   92992                 7
6            7  Employee_7   32         IT   40206                 3
7            8  Employee_8   32         IT   63419                17

   performance_score
0                4.8
3                4.3
4                4.6
6                4.1
7                3.5

üìä Employees aged 30 or younger (15 found):
    employee_id         name  age department  salary  experience_years  \
2             3   Employee_3   29    Finance  119309                17
11           12  Employee_12   24    Finance   58141                17
13           14  Employee_14   23         IT   96044                 2
17           18  Employee_18   23  Marketing  102623                19
27           28  Employee_28   24      Sales   88925                 6

    performance_score
2                 3.5
11                4.3
13                3.7
17                4.6
27                3.3

In [18]:
print('=' * 60)
print('FILTERING ROWS - MULTIPLE CONDITIONS')
print('=' * 60)

# AND condition: Use & (both conditions must be True)
# High salary AND IT department
it_high_earners = employees_df[
    (employees_df['salary'] > 70000) &
    (employees_df['department'] == 'IT')
]
print(f'\nüìä IT employees earning > $70,000 ({len(it_high_earners)} found):')
print(it_high_earners)

# OR condition: Use | (at least one condition must be True)
# Sales OR Marketing department
sales_or_marketing = employees_df[
    (employees_df['department'] == 'Sales') |
    (employees_df['department'] == 'Marketing')
]
print(f'\nüìä Sales or Marketing employees ({len(sales_or_marketing)} found):')
print(sales_or_marketing.head())

# Complex condition
experienced_performers = employees_df[
    (employees_df['experience_years'] > 10) &
    (employees_df['performance_score'] >= 4.0)
]
print(f'\nüìä Experienced high performers ({len(experienced_performers)} found):')
print(experienced_performers)

============================================================
FILTERING ROWS - MULTIPLE CONDITIONS
============================================================

üìä IT employees earning > $70,000 (7 found):
    employee_id         name  age department  salary  experience_years  \
0             1   Employee_1   50         IT  110592                 9
4             5   Employee_5   40         IT   92992                 7
13           14  Employee_14   23         IT   96044                 2
15           16  Employee_16   51         IT   73827                 1
37           38  Employee_38   47         IT   70080                19
38           39  Employee_39   23         IT  106842                 3
43           44  Employee_44   56         IT   98053                 8

    performance_score
0                 4.8
4                 4.6
13                3.7
15                4.8
37                4.7
38                4.3
43                3.5

üìä Sales or Marketing employees (23 found):
    employee_id         name  age department  salary  experience_years  \
1             2   Employee_2   36  Marketing   48110                17
5             6   Employee_6   44  Marketing   46910                 2
8             9   Employee_9   45  Marketing   90636                 5
9            10  Employee_10   57  Marketing   90015                17
10           11  Employee_11   45      Sales   94268                17

    performance_score
1                 4.8
5                 4.1
8                 3.2
9                 4.8
10                4.8

üìä Experienced high performers (14 found):
    employee_id         name  age department  salary  experience_years  \
1             2   Employee_2   36  Marketing   48110                17
3             4   Employee_4   42         IT   67266                12
9            10  Employee_10   57  Marketing   90015                17
10           11  Employee_11   45      Sales   94268                17
11           12  Employee_12   24    Finance   58141                17
17           18  Employee_18   23  Marketing  102623                19
22           23  Employee_23   46    Finance   82557                11
28           29  Employee_29   58  Marketing   82941                11
29           30  Employee_30   28         HR   61834                16
30           31  Employee_31   42         HR   58047                16
37           38  Employee_38   47         IT   70080                19
39           40  Employee_40   41      Sales  101373                19
48           49  Employee_49   23         HR  106199                11
49           50  Employee_50   27         HR   74766                18

    performance_score
1                 4.8
3                 4.3
9                 4.8
10                4.8
11                4.3
17                4.6
22                4.2
28                4.1
29                4.4
30                4.3
37                4.7
39                4.1
48                4.6
49                4.0

In [19]:
print('=' * 60)
print('FILTERING WITH .isin()')
print('=' * 60)

# Filter for multiple values in one column
selected_depts = employees_df[employees_df['department'].isin(['IT', 'HR', 'Finance'])]
print(f'\nüìä Employees in IT, HR, or Finance ({len(selected_depts)} found):')
print(selected_depts.head(10))

print('=' * 60)
print('FILTERING WITH .between()')
print('=' * 60)

# Filter for values in a range
mid_career = employees_df[employees_df['experience_years'].between(5, 10)]
print(f'\nüìä Mid-career employees (5-10 years exp) ({len(mid_career)} found):')
print(mid_career.head())

============================================================
FILTERING WITH .isin()
============================================================

üìä Employees in IT, HR, or Finance (27 found):
    employee_id         name  age department  salary  experience_years  \
0             1   Employee_1   50         IT  110592                 9
2             3   Employee_3   29    Finance  119309                17
3             4   Employee_4   42         IT   67266                12
4             5   Employee_5   40         IT   92992                 7
6             7   Employee_7   32         IT   40206                 3
7             8   Employee_8   32         IT   63419                17
11           12  Employee_12   24    Finance   58141                17
12           13  Employee_13   43    Finance  111910                 2
13           14  Employee_14   23         IT   96044                 2
14           15  Employee_15   45    Finance  107214                 5

    performance_score
0                 4.8
2                 3.5
3                 4.3
4                 4.6
6                 4.1
7                 3.5
11                4.3
12                3.7
13                3.7
14                4.5
============================================================
FILTERING WITH .between()
============================================================

üìä Mid-career employees (5-10 years exp) (15 found):
    employee_id         name  age department  salary  experience_years  \
0             1   Employee_1   50         IT  110592                 9
4             5   Employee_5   40         IT   92992                 7
8             9   Employee_9   45  Marketing   90636                 5
14           15  Employee_15   45    Finance  107214                 5
20           21  Employee_21   33    Finance   83585                 6

    performance_score
0                 4.8
4                 4.6
8                 3.2
14                4.5
20                3.3

In [20]:
print('=' * 60)
print('FILTERING WITH STRING METHODS')
print('=' * 60)

# Filter based on string patterns
# Find employees whose names start with 'Employee_1'
starts_with_1 = employees_df[employees_df['name'].str.startswith('Employee_1')]
print(f'\nüìä Names starting with "Employee_1" ({len(starts_with_1)} found):')
print(starts_with_1.head())

# Find employees whose names contain '5'
contains_5 = employees_df[employees_df['name'].str.contains('5')]
print(f'\nüìä Names containing "5" ({len(contains_5)} found):')
print(contains_5.head())

============================================================
FILTERING WITH STRING METHODS
============================================================

üìä Names starting with "Employee_1" (11 found):
    employee_id         name  age department  salary  experience_years  \
0             1   Employee_1   50         IT  110592                 9
9            10  Employee_10   57  Marketing   90015                17
10           11  Employee_11   45      Sales   94268                17
11           12  Employee_12   24    Finance   58141                17
12           13  Employee_13   43    Finance  111910                 2

    performance_score
0                 4.8
9                 4.8
10                4.8
11                4.3
12                3.7

üìä Names containing "5" (6 found):
    employee_id         name  age department  salary  experience_years  \
4             5   Employee_5   40         IT   92992                 7
14           15  Employee_15   45    Finance  107214                 5
24           25  Employee_25   49      Sales   42693                 6
34           35  Employee_35   46      Sales   61976                16
44           45  Employee_45   35      Sales   61959                 7

    performance_score
4                 4.6
14                4.5
24                3.2
34                3.7
44                4.9

## 10. Sorting Data

Sort DataFrames by one or more columns.

In [21]:
print('=' * 60)
print('SORTING DATA - SINGLE COLUMN')
print('=' * 60)

# Sort by salary (ascending - lowest to highest)
sorted_asc = employees_df.sort_values('salary')
print('\nüìä Sorted by salary (ascending):')
print(sorted_asc[['name', 'department', 'salary']].head())

# Sort by salary (descending - highest to lowest)
sorted_desc = employees_df.sort_values('salary', ascending=False)
print('\nüìä Sorted by salary (descending):')
print(sorted_desc[['name', 'department', 'salary']].head())

# Sort by age
sorted_by_age = employees_df.sort_values('age', ascending=False)
print('\nüìä Sorted by age (oldest first):')
print(sorted_by_age[['name', 'age', 'department']].head())

============================================================
SORTING DATA - SINGLE COLUMN
============================================================

üìä Sorted by salary (ascending):
           name department  salary
6    Employee_7         IT   40206
24  Employee_25      Sales   42693
46  Employee_47         HR   43748
45  Employee_46    Finance   45530
40  Employee_41  Marketing   46776

üìä Sorted by salary (descending):
           name department  salary
2    Employee_3    Finance  119309
32  Employee_33         HR  115766
18  Employee_19  Marketing  115450
12  Employee_13    Finance  111910
0    Employee_1         IT  110592

üìä Sorted by age (oldest first):
           name  age department
16  Employee_17   59      Sales
28  Employee_29   58  Marketing
46  Employee_47   57         HR
9   Employee_10   57  Marketing
43  Employee_44   56         IT

In [23]:
print('=' * 60)
print('SORTING DATA - MULTIPLE COLUMNS')
print('=' * 60)

# Sort by department, then by salary within each department
sorted_multi = employees_df.sort_values(['department', 'salary'], ascending=[True, False])
print('\nüìä Sorted by department, then salary (desc) within department:')
print(sorted_multi[['name', 'department', 'salary']].head(15))

# Sort by performance score (descending), then by experience
sorted_perf = employees_df.sort_values(
    ['performance_score', 'experience_years'],
    ascending=[False, False]
)
print('\nüìä Top performers with most experience:')
print(sorted_perf[['name', 'performance_score', 'experience_years', 'salary']].head())

============================================================
SORTING DATA - MULTIPLE COLUMNS
============================================================

üìä Sorted by department, then salary (desc) within department:
           name department  salary
2    Employee_3    Finance  119309
12  Employee_13    Finance  111910
14  Employee_15    Finance  107214
23  Employee_24    Finance   89080
20  Employee_21    Finance   83585
22  Employee_23    Finance   82557
36  Employee_37    Finance   63776
11  Employee_12    Finance   58141
45  Employee_46    Finance   45530
32  Employee_33         HR  115766
48  Employee_49         HR  106199
35  Employee_36         HR   84262
49  Employee_50         HR   74766
29  Employee_30         HR   61834
30  Employee_31         HR   58047

üìä Top performers with most experience:
           name  performance_score  experience_years  salary
44  Employee_45                4.9                 7   61959
1    Employee_2                4.8                17   48110
9   Employee_10                4.8                17   90015
10  Employee_11                4.8                17   94268
0    Employee_1                4.8                 9  110592

In [24]:
print('=' * 60)
print('SORTING INDEX')
print('=' * 60)

# Sort by index
sorted_by_index = sorted_desc.sort_index()
print('\nüìä Sorted by index (back to original order):')
print(sorted_by_index.head())

# Note: sort_values() returns a new DataFrame (doesn't modify original)
print('\nüí° Important:')
print('  - sort_values() returns a new sorted DataFrame')
print('  - Original DataFrame remains unchanged')
print('  - Use inplace=True to modify original: df.sort_values("col", inplace=True)')

============================================================
SORTING INDEX
============================================================

üìä Sorted by index (back to original order):
   employee_id        name  age department  salary  experience_years  \
0            1  Employee_1   50         IT  110592                 9
1            2  Employee_2   36  Marketing   48110                17
2            3  Employee_3   29    Finance  119309                17
3            4  Employee_4   42         IT   67266                12
4            5  Employee_5   40         IT   92992                 7

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6

üí° Important:
  - sort_values() returns a new sorted DataFrame
  - Original DataFrame remains unchanged
  - Use inplace=True to modify original: df.sort_values("col", inplace=True)

## 11. Combining Operations

Chain multiple operations together for powerful data analysis.

In [25]:
print('=' * 60)
print('COMBINING OPERATIONS')
print('=' * 60)

# Example 1: Filter, Select, and Sort
# Find top 5 highest-paid IT employees
top_it = (employees_df
          [employees_df['department'] == 'IT']
          [['name', 'salary', 'experience_years']]
          .sort_values('salary', ascending=False)
          .head(5))

print('\nüìä Top 5 highest-paid IT employees:')
print(top_it)

# Example 2: Complex analysis
# Find high performers in Sales with >5 years experience, sorted by salary
sales_stars = (employees_df
               [(employees_df['department'] == 'Sales') &
                (employees_df['performance_score'] >= 4.0) &
                (employees_df['experience_years'] > 5)]
               [['name', 'salary', 'experience_years', 'performance_score']]
               .sort_values('salary', ascending=False))

print('\nüìä High-performing experienced Sales employees:')
print(sales_stars)

============================================================
COMBINING OPERATIONS
============================================================

üìä Top 5 highest-paid IT employees:
           name  salary  experience_years
0    Employee_1  110592                 9
38  Employee_39  106842                 3
43  Employee_44   98053                 8
13  Employee_14   96044                 2
4    Employee_5   92992                 7

üìä High-performing experienced Sales employees:
           name  salary  experience_years  performance_score
39  Employee_40  101373                19                4.1
10  Employee_11   94268                17                4.8
44  Employee_45   61959                 7                4.9

In [26]:
# Example 3: Department analysis
print('\nüìä Average salary by department (top 3):')

dept_analysis = (employees_df
                 .groupby('department')['salary']
                 .mean()
                 .sort_values(ascending=False)
                 .head(3))

print(dept_analysis)

print('\nüí° This preview shows groupby() - covered in Pandas Part 2!')

üìä Average salary by department (top 3):
department
Finance    84566.888889
Sales      82273.416667
IT         81932.100000
Name: salary, dtype: float64

üí° This preview shows groupby() - covered in Pandas Part 2!

---

# üí™ Practice Exercises

Practice Problems from above objectives.

## Exercise 1: Create a Series

**Task:**
Create a Series of temperatures for a week:
- Monday: 72¬∞F
- Tuesday: 75¬∞F
- Wednesday: 68¬∞F
- Thursday: 70¬∞F
- Friday: 73¬∞F
- Saturday: 78¬∞F
- Sunday: 80¬∞F

Then:
1. Calculate the average temperature
2. Find the hottest day
3. Find days with temperature > 73¬∞F

In [27]:
# Create temperature Series
temps = pd.Series(
    [72, 75, 68, 70, 73, 78, 80],
    index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
)

print('Weekly temperatures:')
print(temps)

# Average temperature
avg_temp = temps.mean()
print(f'\nAverage temperature: {avg_temp:.1f}¬∞F')

# Hottest day
hottest_day = temps.idxmax()
hottest_temp = temps.max()
print(f'Hottest day: {hottest_day} at {hottest_temp}¬∞F')

# Days > 73¬∞F
hot_days = temps[temps > 73]
print(f'\nDays with temperature > 73¬∞F:')
print(hot_days)

Weekly temperatures:
Monday       72
Tuesday      75
Wednesday    68
Thursday     70
Friday       73
Saturday     78
Sunday       80
dtype: int64

Average temperature: 73.7¬∞F
Hottest day: Sunday at 80¬∞F

Days with temperature > 73¬∞F:
Tuesday     75
Saturday    78
Sunday      80
dtype: int64

## Exercise 2: DataFrame Inspection

**Task:**
Using the `employees_df` dataset:
1. Display the first 7 rows
2. Show the dataset info
3. Get statistical summary
4. Find the shape of the dataset
5. List all column names

In [28]:
# 1. First 7 rows
print('First 7 rows:')
print(employees_df.head(7))

# 2. Dataset info
print('\nDataset info:')
employees_df.info()

# 3. Statistical summary
print('\nStatistical summary:')
print(employees_df.describe())

# 4. Shape
print(f'\nShape: {employees_df.shape}')

# 5. Column names
print(f'\nColumns: {employees_df.columns.tolist()}')

First 7 rows:
   employee_id        name  age department  salary  experience_years  \
0            1  Employee_1   50         IT  110592                 9
1            2  Employee_2   36  Marketing   48110                17
2            3  Employee_3   29    Finance  119309                17
3            4  Employee_4   42         IT   67266                12
4            5  Employee_5   40         IT   92992                 7
5            6  Employee_6   44  Marketing   46910                 2
6            7  Employee_7   32         IT   40206                 3

   performance_score
0                4.8
1                4.8
2                3.5
3                4.3
4                4.6
5                4.1
6                4.1

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        50 non-null     int64
 1   name               50 non-null     object
 2   age                50 non-null     int64
 3   department         50 non-null     object
 4   salary             50 non-null     int64
 5   experience_years   50 non-null     int64
 6   performance_score  50 non-null     float64
dtypes: float64(1), int64(4), object(2)
memory usage: 2.9+ KB

Statistical summary:
       employee_id        age         salary  experience_years  \
count     50.00000  50.000000      50.000000         50.000000
mean      25.50000  38.860000   79136.240000          9.040000
std       14.57738  10.719066   23395.255334          6.239963
min        1.00000  23.000000   40206.000000          1.000000
25%       13.25000  29.250000   61865.250000          3.250000
50%       25.50000  39.500000   82749.000000          7.500000
75%       37.75000  46.000000   97550.750000         16.000000
max       50.00000  59.000000  119309.000000         19.000000

       performance_score
count          50.000000
mean            4.070000
std             0.578968
min             3.000000
25%             3.500000
50%             4.250000
75%             4.575000
max             4.900000

Shape: (50, 7)

Columns: ['employee_id', 'name', 'age', 'department', 'salary', 'experience_years', 'performance_score']

## Exercise 3: Column Selection

**Task:**
From `employees_df`:
1. Select only the 'name' and 'salary' columns
2. Select all numerical columns
3. Create a new DataFrame with 'name', 'department', and 'performance_score'

In [29]:
# 1. Name and salary
name_salary = employees_df[['name', 'salary']]
print('Name and Salary:')
print(name_salary.head())

# 2. All numerical columns
numerical = employees_df.select_dtypes(include=['int64', 'float64'])
print('\nNumerical columns:')
print(numerical.head())

# 3. Name, department, performance_score
selected = employees_df[['name', 'department', 'performance_score']]
print('\nSelected columns:')
print(selected.head())

Name and Salary:
         name  salary
0  Employee_1  110592
1  Employee_2   48110
2  Employee_3  119309
3  Employee_4   67266
4  Employee_5   92992

Numerical columns:
   employee_id  age  salary  experience_years  performance_score
0            1   50  110592                 9                4.8
1            2   36   48110                17                4.8
2            3   29  119309                17                3.5
3            4   42   67266                12                4.3
4            5   40   92992                 7                4.6

Selected columns:
         name department  performance_score
0  Employee_1         IT                4.8
1  Employee_2  Marketing                4.8
2  Employee_3    Finance                3.5
3  Employee_4         IT                4.3
4  Employee_5         IT                4.6

## Exercise 4: Filtering Data

**Task:**
Filter `employees_df` to find:
1. Employees earning more than $80,000
2. Employees in the HR department
3. Employees with performance score >= 4.5
4. Young high earners (age < 35 AND salary > 75000)
5. Employees in either Marketing or Finance departments

In [30]:
# 1. Salary > 80000
high_salary = employees_df[employees_df['salary'] > 80000]
print(f'Employees earning > $80,000: {len(high_salary)}')
print(high_salary[['name', 'salary']].head())

# 2. HR department
hr_dept = employees_df[employees_df['department'] == 'HR']
print(f'\nHR employees: {len(hr_dept)}')
print(hr_dept[['name', 'department']].head())

# 3. Performance >= 4.5
top_performers = employees_df[employees_df['performance_score'] >= 4.5]
print(f'\nTop performers: {len(top_performers)}')
print(top_performers[['name', 'performance_score']].head())

# 4. Young high earners
young_rich = employees_df[(employees_df['age'] < 35) & (employees_df['salary'] > 75000)]
print(f'\nYoung high earners: {len(young_rich)}')
print(young_rich[['name', 'age', 'salary']].head())

# 5. Marketing or Finance
marketing_finance = employees_df[employees_df['department'].isin(['Marketing', 'Finance'])]
print(f'\nMarketing or Finance: {len(marketing_finance)}')
print(marketing_finance[['name', 'department']].head())

Employees earning > $80,000: 26
          name  salary
0   Employee_1  110592
2   Employee_3  119309
4   Employee_5   92992
8   Employee_9   90636
9  Employee_10   90015

HR employees: 8
           name department
29  Employee_30         HR
30  Employee_31         HR
32  Employee_33         HR
33  Employee_34         HR
35  Employee_36         HR

Top performers: 15
           name  performance_score
0    Employee_1                4.8
1    Employee_2                4.8
4    Employee_5                4.6
9   Employee_10                4.8
10  Employee_11                4.8

Young high earners: 8
           name  age  salary
2    Employee_3   29  119309
13  Employee_14   23   96044
17  Employee_18   23  102623
20  Employee_21   33   83585
27  Employee_28   24   88925

Marketing or Finance: 20
          name department
1   Employee_2  Marketing
2   Employee_3    Finance
5   Employee_6  Marketing
8   Employee_9  Marketing
9  Employee_10  Marketing

## Exercise 5: Sorting Challenge

**Task:**
1. Sort employees by performance_score (highest to lowest)
2. Sort by department (A-Z), then by salary (highest to lowest)
3. Find the top 10 highest-paid employees
4. Find the 5 most experienced employees in the IT department

In [31]:
# 1. Sort by performance_score
by_performance = employees_df.sort_values('performance_score', ascending=False)
print('Top performers:')
print(by_performance[['name', 'performance_score']].head())

# 2. Sort by department, then salary
dept_salary = employees_df.sort_values(['department', 'salary'], ascending=[True, False])
print('\nBy department and salary:')
print(dept_salary[['name', 'department', 'salary']].head(10))

# 3. Top 10 highest-paid
top_10_paid = employees_df.sort_values('salary', ascending=False).head(10)
print('\nTop 10 highest-paid:')
print(top_10_paid[['name', 'salary']])

# 4. Most experienced in IT
it_experienced = (employees_df[employees_df['department'] == 'IT']
                  .sort_values('experience_years', ascending=False)
                  .head(5))
print('\nMost experienced IT employees:')
print(it_experienced[['name', 'experience_years']])

Top performers:
           name  performance_score
44  Employee_45                4.9
0    Employee_1                4.8
9   Employee_10                4.8
16  Employee_17                4.8
15  Employee_16                4.8

By department and salary:
           name department  salary
2    Employee_3    Finance  119309
12  Employee_13    Finance  111910
14  Employee_15    Finance  107214
23  Employee_24    Finance   89080
20  Employee_21    Finance   83585
22  Employee_23    Finance   82557
36  Employee_37    Finance   63776
11  Employee_12    Finance   58141
45  Employee_46    Finance   45530
32  Employee_33         HR  115766

Top 10 highest-paid:
           name  salary
2    Employee_3  119309
32  Employee_33  115766
18  Employee_19  115450
12  Employee_13  111910
0    Employee_1  110592
25  Employee_26  109163
14  Employee_15  107214
38  Employee_39  106842
48  Employee_49  106199
21  Employee_22  104044

Most experienced IT employees:
           name  experience_years
37  Employee_38                19
7    Employee_8                17
3    Employee_4                12
0    Employee_1                 9
43  Employee_44                 8

## Exercise 6: Combined Operations

**Challenge Task:**
Create a report showing:
1. Top 5 performers in each department (performance_score >= 4.5)
2. Their name, department, salary, and performance score
3. Sorted by department, then by performance score (descending)

Hint: Use filtering, column selection, and sorting together!

In [32]:
# Top 5 performers per department
top_performers_report = (employees_df
                         [employees_df['performance_score'] >= 4.5]
                         [['name', 'department', 'salary', 'performance_score']]
                         .sort_values(['department', 'performance_score'],
                                     ascending=[True, False]))

print('Top Performers Report:')
print(top_performers_report)

# Get exactly 5 per department
print('\nüìä Top 5 per department:')
for dept in employees_df['department'].unique():
    dept_top = (employees_df[employees_df['department'] == dept]
                [employees_df['performance_score'] >= 4.5]
                [['name', 'department', 'salary', 'performance_score']]
                .sort_values('performance_score', ascending=False)
                .head(5))
    if len(dept_top) > 0:
        print(f'\n--- {dept} ---')
        print(dept_top)

Top Performers Report:
           name department  salary  performance_score
14  Employee_15    Finance  107214                4.5
46  Employee_47         HR   43748                4.8
48  Employee_49         HR  106199                4.6
35  Employee_36         HR   84262                4.5
0    Employee_1         IT  110592                4.8
15  Employee_16         IT   73827                4.8
37  Employee_38         IT   70080                4.7
4    Employee_5         IT   92992                4.6
1    Employee_2  Marketing   48110                4.8
9   Employee_10  Marketing   90015                4.8
17  Employee_18  Marketing  102623                4.6
44  Employee_45      Sales   61959                4.9
10  Employee_11      Sales   94268                4.8
16  Employee_17      Sales   95820                4.8
21  Employee_22      Sales  104044                4.8

üìä Top 5 per department:

--- IT ---
           name department  salary  performance_score
0    Employee_1         IT  110592                4.8
15  Employee_16         IT   73827                4.8
37  Employee_38         IT   70080                4.7
4    Employee_5         IT   92992                4.6

--- Marketing ---
           name department  salary  performance_score
1    Employee_2  Marketing   48110                4.8
9   Employee_10  Marketing   90015                4.8
17  Employee_18  Marketing  102623                4.6

--- Finance ---
           name department  salary  performance_score
14  Employee_15    Finance  107214                4.5

--- Sales ---
           name department  salary  performance_score
44  Employee_45      Sales   61959                4.9
10  Employee_11      Sales   94268                4.8
16  Employee_17      Sales   95820                4.8
21  Employee_22      Sales  104044                4.8

--- HR ---
           name department  salary  performance_score
46  Employee_47         HR   43748                4.8
48  Employee_49         HR  106199                4.6
35  Employee_36         HR   84262                4.5

/tmp/ipython-input-592850573.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dept_top = (employees_df[employees_df['department'] == dept]
/tmp/ipython-input-592850573.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dept_top = (employees_df[employees_df['department'] == dept]
/tmp/ipython-input-592850573.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dept_top = (employees_df[employees_df['department'] == dept]
/tmp/ipython-input-592850573.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dept_top = (employees_df[employees_df['department'] == dept]
/tmp/ipython-input-592850573.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dept_top = (employees_df[employees_df['department'] == dept]

---

# üéâ Finished Beginner Part !

We have completed Beginner Pandas Part 1! Here's what we learned:

## üéØ Key Concepts Learned

### ‚úÖ Series
- Create Series from lists and dictionaries
- Access elements by position and label
- Perform operations and calculations

### ‚úÖ DataFrames
- Create DataFrames from various sources
- Understand 2D data structure
- Work with rows and columns

### ‚úÖ Reading Data
- Load CSV files with `read_csv()`
- Load Excel files with `read_excel()`
- Use parameters for customized reading

### ‚úÖ Data Inspection
- `head()` and `tail()` - View data
- `info()` - Dataset overview
- `describe()` - Statistical summary
- `shape`, `columns`, `dtypes` - Structure info

### ‚úÖ Selecting Columns
- Single column selection
- Multiple column selection
- Select by data type

### ‚úÖ Filtering Rows
- Single condition filters
- Multiple conditions (AND, OR)
- `.isin()` and `.between()` methods
- String pattern matching

### ‚úÖ Sorting Data
- Sort by single column
- Sort by multiple columns
- Ascending and descending order

---

## üöÄ Next Steps

** Intermediate Pandas Part 2 objectives: **
- Adding and removing columns
- Handling missing values
- GroupBy operations
- Merging and joining DataFrames
- Advanced data manipulation

---

## üìö Quick Reference

```python
# Reading data
df = pd.read_csv('file.csv')
df = pd.read_excel('file.xlsx')

# Inspection
df.head()
df.info()
df.describe()

# Selection
df['column']
df[['col1', 'col2']]

# Filtering
df[df['col'] > 100]
df[(df['col1'] > 100) & (df['col2'] == 'value')]

# Sorting
df.sort_values('col')
df.sort_values(['col1', 'col2'], ascending=[True, False])
```